- content_for :title, 'Privacy'

.container
  .row.align-items-stretch
    .col-md-5.bg-dark-2.text-light
      .heading.mt-3 Privacy
      .p.mb-5
        This page explains what types of personal information will be gathered when you visit Securium's website, and how this information will be used.
        We are committed to full General Data Protection Regulation (GDPR) compliance and our privacy policy applies to all of our pages.
      .p.mb-5
        Please note that you may come across links on our website to external websites. If you follow a link to such websites, please check their policies
        before you submit any personal information to them.
      .p.mb-5
        From time to time, we may use your information for new or unanticipated uses not previously disclosed in our privacy policy. Should this be the case in
        the future, we will post the policy changes here. If you are concerned about how your information is used, you should refer to this this page periodically.

    .col-md-7.bg-light.py-5
      .p.mb-5
        %h4
          Storage of information collected
        %p
          Information which you provide to us will ordinarily be stored on our own secure servers. Some personal information is required for creating an account and
          purchase of a Securium plan. By submitting personal information, you agree to this transfer, storing and processing. We will take all steps reasonably necessary
          to ensure that your data is treated securely and in accordance with this privacy policy and all relevant GDPR laws.
        %p
          Some personal information may also be requested for use of some our website features which make use of external Application Programming Interfaces (APIs), but this information
          is only used for the purpose of fetching relevant results and is not stored by us.
      .p.mb-5
        %h4
          Access to information
        %p
          The Data Protection Act 1998 gives you the right to access information held about you. For further information about this right and how to exercise it,
          please see the University’s Policy on Data Protection.
      .p.mb-5
        %h4
          Deletion of personal information
        %p
          Our privacy policy gives, in accordance to GDPR laws, the right of every user on our website to completely delete their account and personal data,
          without the need to specify any reason. The option to do so is available on each user's account profile, and will completely erase any and all information
          associated with the account. As such, no information about a user is used by us following deletion.
